# -----------------------------------------------------------------------------
# Maintainer:   Peter Saville   
# Contact:      
# Created: <date>
# 
# Description:
#
# -----------------------------------------------------------------------------

def main():
    print("You need to change this")


if __name__ == "__main__":
    main()


class NewClass:
    def __init__(self):
        self.name = "NewClass"

